@keyframes example {
    from {color: whitesmoke;}
    to {color: black;}
}

.heading{
    text-align: center;
    font-family: "Dancing Script";
    font-size: 35px;
    transition: width 2s;
    color: black;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px;
}

@media (min-width: 240px) and (max-width: 768px) {
    .heading{
        font-size: 2rem;
    }
}