.sectionContainer{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginButton{
    display: flex;

}

.sectionContainer h1 {
    font-size: 3rem;
    font-family: "Dubai Light";
    margin: 20vh 10px 10px 10px;
}

.sectionContainer button {
    cursor: pointer;
    font-family: "Dancing Script";
    font-size: 2em;
    color: black;
    background-color: aquamarine;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.sectionContainer button:hover {
    background-color: teal;
    border-color: white;
    color: white;
}

@media (max-width: 40rem) {
    .sectionContainer{
        width: 100vw;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .sectionContainer h1{
        font-size: 2rem;
        font-family: "Dubai Light" , "Segoe Print";
        margin-top: 15vh;
    }

    .sectionContainer button{
        font-size: 1.5rem;

    }
}